@import url(reset.css);
/* 전체 */
.wrap{
    width: 100%;
}
/* 공통 */
.inner{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
/* 헤더 */
.header{
    color: palevioletred;
    background-color: pink;
}
.header .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.menu a{
    width: calc(100% / 4);
    padding:20px;
    text-align: center;
    color: palevioletred;
}
.ham{
    display: none;
    font-size: 20px;
}
/* 메인 */
.card-list{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 20px;
}
.card-list li{
    width: calc((100% - 6%) / 4);
    background-color: lightpink;
}
.card-list li a{
    display: block;
    padding: 30%;
    text-align: center;
}
/* 호버 */
.menu a:hover{
    color: #fff;
    background-color: palevioletred;
}
.card-list li a:hover{
    background-color: rgb(190, 115, 128);
}
/* 반응형 */
@media (max-width:768px){
    .menu{
        display: none;
    }
    .ham{
        display: block;
    }
    .card-list li{
        width: calc((100% - 4%) / 3);
    }
}
@media (max-width:560px){
    .card-list{
        row-gap: 10px;
    }
    .card-list li{
        width: calc((100% - 2%) / 2);
    }
}
@media (max-width:390px){
    .card-list li{
        width: 100%;
    }
}